h1 {
  font-size: 20px;
}
#about {
  background-color: #7da;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 5rem 0;
}
#useless-button {
  background-color: #0a0;
  color: #fff;
  margin: 0 auto;
  width: 40%;
  padding: 3rem 3rem;
  border-radius: 1rem;
}
#useless-button:hover {
  background-color: #000;
}
