h1 {
  font-size: 5;
}
#about {
  background-color: #8cffc3;
  color: #fff;
  text-align: center;
  margin: 0 0;
}
#useless-button {
  background-color: #0a0;
  color: #fff;
  margin: 0 auto;
  width: 40%;
}
#useless-button:hover {
  background-color: #000;
}
