h1 {
  font-size: 5;
}
#about {
  background-color: #7ea;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 5rem, 0;
}
#useless-button {
  background-color: #0a0;
  color: #fff;
  margin: 0, auto;
  width: 50%;
  padding: 1rem, 1rem;
}
#useless-button:hover {
  background-color: #000;
}
